## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [6]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [9]:
# 결측치 만들기 ( NaN, nan)
#df.iloc[1][1] = np.NaN
#df

#df.iloc[1:,2] = np.NaN
#df

df.loc['B'][1] = np.NAN
df

df.loc['B':,2] = np.NAN
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [10]:
# 누적합을 구할 때
df.cumsum()

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  2.0  NaN  NaN  2.0
C  3.0  2.0  NaN  3.0
D  4.0  3.0  NaN  4.0

In [13]:
# 결측치 확인
df.isnull()
# df.notnull()

       0      1      2      3
A  False  False  False  False
B  False   True   True  False
C  False  False   True  False
D  False  False   True  False

In [17]:
# 결측치 개수는?
df.isnull().sum()

0    0
1    1
2    3
3    0
dtype: int64

## 결측치 처리

In [19]:
df.dropna()

     0    1    2    3
A  1.0  1.0  1.0  1.0

In [22]:
df.fillna(0)
df.fillna('UnKnown')
df.fillna({1:'Null',2:-100})

     0     1      2    3
A  1.0   1.0    1.0  1.0
B  1.0  Null -100.0  1.0
C  1.0   1.0 -100.0  1.0
D  1.0   1.0 -100.0  1.0