# 1. 현재 아나콘다 환경에 pymysql 설치

In [1]:
#!conda install PyMySQL

# packages in environment at C:\Users\kosmo_\anaconda3\envs\tensor:
#
# Name                    Version                   Build  Channel
pymysql                   1.0.2                    pypi_0    pypi

# 2. pymysql과  pandas 임포트

In [9]:
import pymysql
import pandas as pd

#  3. DB 정보 입력

In [14]:
conn = pymysql.connect(
    user='admin', 
    passwd='rladlscjf0!', 
    host='kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com', 
    db='pythondb', 
    charset='utf8'
)

#  4. Cursor 객체 만들기

In [11]:
cursor = conn.cursor(pymysql.cursors.DictCursor)

# 5. SQL 문장 작성

In [12]:
sql = "SELECT * FROM `emp`;"
cursor.execute(sql)
result = cursor.fetchall()

# 6. Pandas 등을 이용하여 데이터 조작

In [13]:



result = pd.DataFrame(result)
result

Empty DataFrame
Columns: []
Index: []