# 1. 현재 아나콘다 환경에 pymysql 설치

In [ ]:
#!conda install PyMySQL

# 2. pymysql과  pandas 임포트

In [37]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

#  3. DB 정보 입력

In [45]:
conn = pymysql.connect(
    user='admin', 
    passwd='rladlscjf0!', 
    host='kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com', 
    db='pythondb', 
    charset='utf8'
)

#  4. Cursor 객체 만들기

In [46]:
cursor = conn.cursor(pymysql.cursors.DictCursor)

# 5. SQL 문장 작성

In [47]:
sql = "SELECT * FROM `emp`;"
cursor.execute(sql)
cursor.close()
result = cursor.fetchall()

# 6. Pandas 등을 이용하여 데이터 조작

## 1) CREATE TABLE

In [41]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = """
    CREATE TABLE supply(
    supply_no int primary key auto_increment,
    Name VARCHAR(100),
    Invoice_Number VARCHAR(100),
    Part_Number INT,
    Cost INT,
    Purchase_Date DATE
    )
"""
cursor.execute(sql)

cursor.close()

## 2) SELECT DATA

In [56]:
def viewTable(table_name):
    conn = pymysql.connect(
    user='admin', 
    passwd='rladlscjf0!', 
    host='kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com', 
    db='pythondb', 
    charset='utf8'
    )
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    sql = """
        SELECT * FROM {}
    """.format(table_name)
    cursor.execute(sql)
    
    result = pd.DataFrame(cursor.fetchall())
    print(result)
    cursor.close()
    
    
    
viewTable('supply')

    index Supplier Name Invoice Number  Part Number   Cost Purchase Date
0       0       Samsung           1001         2521  50000    2025-01-01
1       1       Samsung           1001         2521  50000    2025-01-01
2       2       Samsung           1001         5522  70000    2025-01-01
3       3            LG        10-1111        50001  35000    2025-02-02
4       4            LG        10-1111        50001  35000    2025-02-03
5       5            LG        10-2222        40009  25000    2025-02-04
6       6            LG        10-2222        40009  15000    2025-02-05
7       7        Ottugi       999-0001          333  20000    2024-10-10
8       8        Ottugi       999-0002          333  30000    2024-10-10
9       9        Ottugi       999-0003          333  40000    2023-08-08
10     10         Cacao         001-01          333  15000    2024-10-10
11     11         Cacao         001-02          333  15000    2023-08-08

## 3) INSERT DATA

In [42]:
data = pd.read_csv('./files/supply.csv')

# 연결할 db정보 str 양식 = "mysql+pymysql://[유저이름]:[비밀번호]@[호스트주소]:[포트번호]" (선택사항 - ?charset=utf8)
conn_str = "mysql+pymysql://admin:"+"rladlscjf0!"+"@kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com:3306/pythondb?charset=utf8"
engine = create_engine(conn_str,encoding='utf-8')
conn = engine.connect()

# name=[테이블명], con=[엔진 연결 객체], if_exists='replace - 교체' 'append - 추가' 'false - 실패처리', index = 빈 컬럼에 대해서 어떻게 처리할것인가
data.to_sql(name='supply', con=conn, if_exists='replace', index=True)

In [ ]:
cursor = conn.cursor(pymysql.cursors.DictCursor)

In [ ]:
conn.close()