In [5]:
import pandas as pd

df = pd.DataFrame( {'a':[10,20,30], 'b':[2, 4, 6]})
df

    a  b
0  10  2
1  20  4
2  30  6

In [2]:
# 1. 함수 정의
def my_fun1(x):
    return x**2

def my_fun2(x, n):
    return x**n

print(my_fun1(4))
print(my_fun2(4,3))

16
64

In [3]:
# 2. apply 함수를 이용하여 모든 데이타에 각각 함수 적용하기
re1 = df['a'].apply(my_fun1)
print(re1)

re2 = df['a'].apply(my_fun2, n=4)
print(re2)

0    100
1    400
2    900
Name: a, dtype: int64
0     10000
1    160000
2    810000
Name: a, dtype: int64

In [4]:
# [연습] 데이타 프레임의 각 열 단위로 데이타의 합을 출력
def my_fun3(col):
    sum=0
    for i in col:
        sum += i
    return sum

    # *** 여기서 df가 my_fun3 함수의 인자 col로 컬럼단위로 들어간다는 것을 이해. ( 컬럼수 만큼 반복하여 )
re3 = df.apply(my_fun3) # axix=0 기본값
print(re3)

# 만일 행단위 단위로 데이타의 합을 출력
re4 = df.apply(my_fun3, axis=1)
print(re4)

a    60
b    12
dtype: int64
0    12
1    24
2    36
dtype: int64