## datetime 라이브러리 

- date 
- time 
- datetime
    

   > [  df  ]   
 문자열 처리를 위해 str 접근자를 사용하듯이 datetime 오브젝트는 dt 접근자 사용해야 
 datetime 속성이나 메소드를 사용가능

In [1]:
""" datetime 라이브러리 : date / time / datetime 오브젝트 """

' datetime 라이브러리 : date / time / datetime 오브젝트 '

     [도서] Do it 데이타분석을 위한 판다스 입문

## [ 연습 ]  datatime  오브젝트로 변경하여 필요한 데이타 추출 및 계산

In [2]:
import pandas as pd


ebola = pd.read_csv('./data/ebola_timeseries.csv')
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [3]:
# datetime 오브젝트로 변경하여 필요한 데이타 추출 및 계산

## [ 연습 ]  에볼라 최초 발병일 구하기

In [5]:
import pandas as pd

ebola = pd.read_csv('./data/ebola_timeseries.csv')