# 페리카나 크롤링

## 1. 라이브러리 선언

In [2]:
import multiprocessing
import parmap
import numpy as np
import pericana
import requests
from bs4 import BeautifulSoup
import time
import urllib.request
from selenium.webdriver import Chrome
import re
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import datetime as dt
import os

## 2. 멀티 프로세싱을 통한 병렬 처리

In [3]:
num_cores = multiprocessing.cpu_count() # 12

link_list = pericana.page_make(109)


splited_data =  np.array_split(link_list, num_cores)
splited_data = [x.tolist() for x in splited_data]

result = parmap.map(pericana.store_list , splited_data, pm_pbar=True, pm_processes=num_cores)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:30<00:00,  7.68s/it]

## 3. Pandas Dataframe 변환 및 csv 저장

In [ ]:
import pandas as pd

last = []
for re in result:
    for r in re:
        last.append(r)
list_df = pd.DataFrame(last)
list_df.to_csv("./pericana_data/data.csv",header=True,index=False,encoding='utf-8-sig')

## 4. 데이터베이스 저장

### 4-1) 라이브러리 선언(pymysql)

In [5]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### 4-2) DB 정보입력

In [6]:
conn = pymysql.connect(
    user='admin', 
    passwd='rladlscjf0!', 
    host='kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com', 
    db='chicken', 
    charset='utf8'
)

### 4-3) Cursor 객체 선언

In [7]:
cursor = conn.cursor(pymysql.cursors.DictCursor)

### 4-4) 테이블 생성

In [ ]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = """
    CREATE TABLE pericana_store(
    name VARCHAR(50),
    address VARCHAR(100),
    tel VARCHAR(15)
    )
"""
cursor.execute(sql)
cursor.close()

### 4-5) csv 데이터 입력

In [ ]:
data = pd.read_csv('./pericana_data/data.csv')

# 연결할 db정보 str 양식 = "mysql+pymysql://[유저이름]:[비밀번호]@[호스트주소]:[포트번호]" (선택사항 - ?charset=utf8)
conn_str = "mysql+pymysql://admin:"+"rladlscjf0!"+"@kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com:3306/chicken?charset=utf8"
engine = create_engine(conn_str,encoding='utf-8')
conn = engine.connect()

# name=[테이블명], con=[엔진 연결 객체], if_exists='replace - 교체' 'append - 추가' 'false - 실패처리', index = 빈 컬럼에 대해서 어떻게 처리할것인가
data.to_sql(name='pericana_store', con=conn, if_exists='replace', index=False)

## 5. 데이터 베이스 데이터 추출

In [8]:
def viewTable(table_name):
    conn = pymysql.connect(
    user='admin', 
    passwd='rladlscjf0!', 
    host='kic.cj7mov3fe2u4.ap-northeast-2.rds.amazonaws.com', 
    db='chicken', 
    charset='utf8'
    )
    cursor = conn.cursor(pymysql.cursors.DictCursor)
    sql = """
        SELECT * FROM {}
    """.format(table_name)
    cursor.execute(sql)
    
    result = pd.DataFrame(cursor.fetchall())
    return result
    cursor.close()
    
    
    
data = viewTable('pericana_store')
data

         name                          address           tel
0        가경동점         충청북도 청주시흥덕구 풍산로 103(복대동)  043-233-4091
1         가남점           경기도 여주시 가남면 태평중앙1길 8-6  031-883-5746
2        가래비점              경기도 양주시 광적면 가래비길 24  031-855-6126
3         가마점  충청북도 청주시서원구 남이면 청남로 1827-25, 1층  043-287-2003
4        가수원점           대전광역시 서구 벌곡로 1353번길 63  042-541-1350
...       ...                              ...           ...
1029      휴천점             경상북도 영주시 휴천2동 303-21  054-635-5553
1030     흑석동점            서울특별시 동작구 서달로10길 14-1   02-814-5832
1031      흥업점               강원도 원주시 흥업면 남원로 82  033-763-4291
1032      흰돌점               경기도 고양시일산동구 일산로 11  031-903-1333
1033  CNTTEST                     00 18 신사동 주소   02-123-1234

[1034 rows x 3 columns]

## 6. 지점 별 주소 지도에 마킹

### 6-1) 크롬 드라이버 및 변환 사이트 지정

In [9]:
from selenium import webdriver

driver = webdriver.Chrome('./webdriver/chromedriver')
delay = 2

driver.implicitly_wait(delay)

driver.get('http://www.dawuljuso.com/')
driver.implicitly_wait(delay)

### 6-2) 변환 사이트에 키값 및 액션 처리
- 변환사이트 : http://www.dawuljuso.com/

In [10]:
def addr_to_position(addr):
    driver.find_element_by_id('input_juso').send_keys(addr)
    driver.find_element_by_id('btnSch').click()
    driver.implicitly_wait(0.5)
    position = driver.find_element_by_id('insert_data_5').text
    x_position = position.split(",")[0]
    x_position =x_position.replace(" ","").replace(":","").replace("X","")
    y_position = position.split(",")[1]
    y_position =y_position.replace(" ","").replace(":","").replace("Y","")
    x_position = float(x_position)
    y_position = float(y_position)
    result = [y_position,x_position]
    return result

In [12]:
addr_to_position('경기도 여주시 가남면 태평중앙1길 8-6')

[37.2027904, 127.545924]

### 6-3) 판다스 데이터 리스트로 변경

In [13]:
name_list = list(data['name'])
address_list = list(data['address'])
tel_list = list(data['tel'])

### 6-4) 맵 설정

In [ ]:
map_osm = folium.Map(location=[37.4526527708009, 126.85972513819276],zoom_start=8)
for i in range(0,len(name_list)):
    
    name = name_list[i]
    addr = address_list[i]
    tel = tel_list[i]
    loc = [0,0]
    try:
        loc = addr_to_position(addr)
    except:
        pass
    
    
    mark = folium.Marker(location=loc, popup=name,icon=folium.Icon(color='blue'))
    mark.add_to(map_osm)
    if i %50 == 0:
        progress = i/float(len(name_list))*100
        print("현재 진행상황 ==> ",round(progress,2),"%")
        
    
print("현재 진행상황 ==> 완료")
map_osm.save('map1.html')

현재 진행상황 ==>  0.0 %
현재 진행상황 ==>  4.84 %
현재 진행상황 ==>  9.67 %
현재 진행상황 ==>  14.51 %
현재 진행상황 ==>  19.34 %
현재 진행상황 ==>  24.18 %
현재 진행상황 ==>  29.01 %
현재 진행상황 ==>  33.85 %
현재 진행상황 ==>  38.68 %
현재 진행상황 ==>  43.52 %
현재 진행상황 ==>  48.36 %
현재 진행상황 ==>  53.19 %
현재 진행상황 ==>  58.03 %